/* SEARCH SECTION */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.search-input {
    flex-grow: 10;
    margin-right: 15px;
}

.button-group {
    display: flex;
    gap: 10px;
}

/* BOOK DETAILS */
.book-details {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--soft-background);
    border-radius: 5px;
    border-left: 4px solid var(--primary-color);
    display: none;
}

.book-details h3 {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.detail-item {
    margin-bottom: 8px;
}

.detail-item span {
    font-weight: bold;
    color: var(--primary-color);
}

/* BOOK TABLE */
.book-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 8px 10px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);

}

th.actions-th, td:last-child {
    text-align: center;
    width: 300px;
}

th {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    
}
th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.actions-th {
    text-align: center;
}

tr {
    vertical-align: middle;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: background-color 0.3s ease;
    height: 48px;
}

tr:hover {
    background-color: var(--soft-background);
    cursor: pointer;
}

/* BUTTON GROUPS */
.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 6px 3px;
    border: none;
    cursor: pointer;
}

.btnimg {
    width: 20px;
    height: auto; 
    border-radius: 4px; 
}

/* ACTION BUTTONS */
.view-btn, .edit-btn, .delete-btn, .borrow-btn {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0;
    margin: 0 2px;
}

.view-btn {
    background-color: var(--accent-color);
}

.edit-btn {
    background-color: var(--primary-color);
}

.delete-btn {
    background-color: var(--dangermouse-color);
}

.borrow-btn.borrow-available {
    background-color: var(--success-color);
}

.borrow-btn.borrow-unavailable {
    background-color: var(--unavalible-color);
}
.borrow-btn.borrow-unavailable:hover {
    transform: none;
    box-shadow: none;
}

.view-btn:hover, .edit-btn:hover, .delete-btn:hover, .borrow-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--btn-shadow-color)
}